* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

html {
    font-family: Arial, sans-serif;
    overflow: scroll;
    overflow-x: hidden;
}

.appWindow {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.appInput {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 50px;
    background-color: floralwhite;
    padding: 5%;
    border-radius: 15px;
}

#userName {
    border: 1px solid indianred;
    border-radius: 10px;
    height: 35px;
    width: 80%;
    padding-left: 2%;
    margin: 0px auto 15px auto;
}

input:focus {
    outline: 0;
}

#assistantName {
    border: 1px solid indianred;
    color: darkslategray;
    border-radius: 10px;
    height: 35px;
    width: 80%;
    padding-left: 2%;
    margin: auto;
}

#appAssistant {
    color: darkslategray;
}

.appSettingsIcon {
    position: absolute;
    top: 2%;
    left: 3%;
}

.appSettingsIcon img {
    width: 10%;
}

#settingsMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: floralwhite;
    border-radius: 15px;
    align-self: center;
    top: 15%;
    min-width: 300px;
    max-width: 300px;
    min-height: 350px;
    max-height: 350px;
    overflow-y: auto;
    position: absolute;
}

#settingsMenu::-webkit-scrollbar {
    display: none !important;
}

#settingsMenu h2 {
    margin: 0;
    text-align: center;
}

#styleSelect p {
    margin-bottom: 0;
    font-size: .75rem;
    font-weight: bold;
}

#styleSelect {
    text-align: center;
    padding: 5px;
}

#styleSelect option {
    height: 50px;
}

#trimColor,
#bgColor,
#messageColor,
#buttonColor,
#textColor {
    font-size: .75rem;
    width: 40%;
    margin-bottom: 15px;
}

#settingButtons {
    margin: 10px auto;
    text-align: center;
}

#confirmSettings {
    border-radius: 5px;
    background-color: indianred;
    border: none;
    margin-right: 10px;
    color: floralwhite;
    padding: 5px;
}

#resetSettings {
    border-radius: 5px;
    background-color: floralwhite;
    border: none;
    margin-left: 10px;
    color: darkslategray;
    padding: 5px;
}

.userInput {
    display: flex;
    align-self: center;
    position: absolute;
    bottom: 1%;
}

#appHead {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 50px !important;
    background-color: indianred;
}

#appTime {
    font-size: .75rem;
    color: floralwhite;
    margin-bottom: 5px;
}

#appAssistant {
    margin: 0;
}

#appStartButton {
    color: floralwhite;
    width: 50%;
    align-self: center;
    background-color: indianred;
    border: none;
    border-radius: 3px;
    height: 30px;
}

#appVer {
    font-size: .75rem;
    text-align: center;
    display: block;
    margin-top: 5%;
    margin-bottom: -5%;
    
}

.appInteract {
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
    overflow-y: scroll;
}

.appInteract::-webkit-scrollbar {
    display: none !important;
}

.appResponse {
    display: none;
    font-size: 1.4em;
    max-width: 50%;
    margin: 20px 0px 20px 15px;
    background-color: floralwhite;
    color: darkslategray;
    border-radius: 10px;
    padding: 2%;
}

.appQuestion {
    display: none;
    align-self: flex-end;
    font-size: 1.4em;
    max-width: 50%;
    margin: 0px 15px 0 0;
    background-color: indianred;
    color: floralwhite;
    border-radius: 10px;
    padding: 2%;
}

#appText {
    border-radius: 5px;
    border: 1px solid floralwhite;
    padding-left: 2%;
    width: 350px;
    min-height: 20px;
}

#appSendButton {
    border-radius: 5px;
    background-color: indianred;
    border: none;
    color: floralwhite;
    min-height: 20px;
    padding: 10px;
    margin-left: 5px;
}